<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="det-mov-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>

      <h2>Detalle del movimiento {{id}}</h2>
    <iron-ajax auto id="obtenerMovimientos"
               url="http://localhost:3000/v2/movimientos/{{id}}"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>




    <div class="row">

        <div class="col-4">
          <div class="card" >

            <div class="card-block">
              <p class="card-text">{{movimiento.fecha}}</p>
              <p class="card-text">{{movimiento.importe}}</p>
              <p class="card-text">{{movimiento.ciudad}}</p>
            </div>
          </div>
        </div>
    </div>

  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetMovApp extends Polymer.Element {
      static get is() { return 'det-mov-app'; }
      static get properties() {
        return {
          movimiento: {
            type: Object
          }
        };

      }

      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimiento = data.detail.response

      }

    }
    window.customElements.define(DetMovApp.is, DetMovApp);
  </script>
</dom-module>
