<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="mov-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

    </style>
    <span>{{ciudadSeleccionada}}</span>

    <iron-ajax id="obtenerMovimientos"
               url="http://localhost:3000/v2/movimientos"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>

    <div>
      <button class="btn btn-primary" on-click="invocarPeticionMov">Movimientos</button>
    </div>

    <table class="table table-striped" hidden$="{{noTengoMovimientos}}">
        <thead class="thead-dark">
          <th>Id</th>
          <th>Fecha</th>
          <th>Importe</th>
          <th>Ciudad</th>
          <th>Ver detalles</th>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{movimientos}}" as="mov">
            <tr on-click="mostrarInfoFila">
              <td>{{mov.id}}</td>
              <td>{{mov.fecha}}</td>
              <td>{{mov.importe}}</td>
              <td>{{mov.ciudad}}</td>
              <td><a href="/movimientos/[[mov.id]]">Ver detalles</a></td>
            </tr>
          </template>
        </tbody>
      </table>

    <div class="row">
    <template is="dom-repeat" items="{{movimientos}}" as="mov">

        <div class="col-4">
          <div class="card" >
            <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.latitud]],[[mov.longitud]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true"   <img class="card-img-top" src="https://maps.googleapis.com/maps/api/staticmap?center=[[mov.latitud]],[[mov.longitud]]&zoom=6&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt="Card image cap"></img>

            <div class="card-block">
              <p class="card-text">{{mov.fecha}}</p>
              <p class="card-text">{{mov.importe}}</p>
              <p class="card-text">{{mov.ciudad}}</p>
            </div>
          </div>
        </div>
    </template>
    </div>


  </template>




  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovApp extends Polymer.Element {
      static get is() { return 'mov-app'; }
      static get properties() {
        return {

          movimientos: {
            type: Array
          },
          noTengoMovimientos:{
            type: Boolean,
            value: true
          },
          ciudadSeleccionada: {
            type: String
          }
        };
      }

      invocarPeticionMov() {
        this.$.obtenerMovimientos.generateRequest();
      }
      mostrarMovimientos(data) {
        console.log(data.detail.response)
        this.movimientos = data.detail.response
        this.noTengoMovimientos = false
      }
      mostrarInfoFila(e){
        console.log(e)
        this.ciudadSeleccionada = e.model.mov.ciudad
      }
    }
    window.customElements.define(MovApp.is, MovApp);
  </script>
</dom-module>
